<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huchenzhang.myutils">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读取IMSI的权限,IMEI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 外部存储读权限，调试工具加载本地补丁需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--百度语音合成权限相关-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--友盟分享相关权限-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".Application"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--fabric-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4f0e7eb35bb87be9875b1eec420f6c227faa7528" />
        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a2deb1bb27b0a28670001d9" >
        </meta-data>
        <!--高德-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6815f4c3d7a777e04c5be716cab25a7c">
        </meta-data>
        <!--<activity-->
            <!--android:name=".wxapi.WXEntryActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:exported="true"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106526385" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"
            />

        <activity
            android:name=".netUtils.NetUtilsActivity"
            android:label="@string/NetUtils"/>

        <activity
            android:name=".xuliehao.XuLieHao"
            android:label="@string/xuLieHao"/>

        <activity
            android:name=".swiperefresh.SwipeRefreshActivity"
            android:label="@string/swipeRefresh"/>

        <activity
            android:name=".recyclerview.MyRecyclerView"
            android:label="@string/recyclerView"/>

        <activity
            android:name=".rxjava.RxJava"
            android:label="@string/rxJava"/>

        <activity
            android:name=".myhttp.OkHttp"
            android:label="@string/okHttp"/>

        <activity
            android:name=".myDataBinding.MyDataBindingActivity"
            android:label="@string/dataBinding"/>

        <activity
            android:name=".yuyin.YuYinActivity"
            android:label="@string/yuyin"/>

        <activity
            android:name=".svg.Svg"
            android:label="@string/svg"/>

        <activity
            android:name=".share.Share"
            android:label="@string/share"/>

        <activity
            android:name=".keepalive.HooliganActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/HooliganActivityStyle"/>

        <activity android:name=".kotlin.Test3"
            android:label="@string/kotlin"/>

        <activity android:name=".zxing.Zxing"
            android:label="@string/zxing"/>

        <activity android:name=".retrofit.MyRetrofitActivity"
            android:label="@string/retrofit"/>

        <activity android:name=".gaoDe.GaoDe"
            android:label="@string/gaoDe"/>

        <activity android:name=".myView.MyViewActivity"
            android:label="@string/myView"/>

        <activity android:name=".dataTest.AddPeopleDataActivity"
            android:label="@string/addPeople"/>

        <activity android:name=".updateFile.UpdateActivity"
            android:label="@string/update"/>

    </application>

</manifest>